{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin{% endblock %}
{% block body %}
    <h1>Użytkownicy</h1>

    <div class="admin-add-button">
        <a class="btn btn-primary" href="{{ path('admin_users_new') }}" >{% trans %}add_user{% endtrans %}</a>
    </div>

    <table class="table table-hover admin-table">
        <thead>
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Edytuj</th>
            <th scope="col">Zablokuj/Aktywuj</th>
        </tr>
        </thead>
        {% for user in users %}
            <tbody>
            <tr>
                <td scope="row">{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td><a class="btn btn-outline-info" href="{{ path('admin_users_edit',{ id: user.id }) }}" >{% trans %}edit{% endtrans %}</a></td>
                <td>
                    {% if user.isActive %}
                        <a class="btn btn-outline-danger" href="{{ path('admin_users_block',{ id: user.id }) }}" >{% trans %}block{% endtrans %}</a>
                    {% else %}
                        <a class="btn btn-outline-warning" href="{{ path('admin_users_activate',{ id: user.id }) }}" >{% trans %}activate{% endtrans %}</a>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}