{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <img class="header_banner" src="{{asset('images/header_banner.png')}}">
    <div class="container">
        <div class="raw">
            <div class="homepage-choice col-4">
                <a href="{{ path('add_recipe') }}"><img class="homepage-choice-image" src="{{asset('images/add.png')}}"></a>
                <h3>{% trans %}add_recipes{% endtrans %}</h3>
            </div>
            <div class="homepage-choice col-4">
                <a href="{{ path('recipe_index') }}"><img class="homepage-choice-image" src="{{asset('images/search.png')}}"></a>
                <h3>{% trans %}recipes{% endtrans %}</h3>
            </div>
            <div class="homepage-choice col-4">
                <img class="homepage-choice-image" src="{{asset('images/favourite.png')}}">
                <h3>{% trans %}favourites{% endtrans %}</h3>
            </div>
        </div>
    </div>


{% endblock %}