{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} {% endblock %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
    <h2>{% trans %}ingredients{% endtrans %}</h2>
    <ul>
    {% for ingredient in recipe.recipyIngradients %}
        <li>{{ ingredient.ingradient.name }}</li>
    {% endfor %}
    </ul>
    <p>{{ recipe.description }}</p>

    <ul>
    {% for comment in comments %}
        <li>
            {{ comment.content }}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}">x</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if is_granted('ROLE_USER') %}
    {{ form_start(form) }}
        {{ form_row(form.content) }}
    <button type="submit">{% trans %}add_comment{% endtrans %}</button>
    {{ form_end(form) }}
    {% endif %}
{% endblock %}