{% extends 'base.html.twig' %}

{% block title %}{{ recipe.title }} {% endblock %}

{% block body %}
    {% if recipe.imageFileName %}
        <img class="recipe-image" src="{{ asset('uploads/recipes_images/'~recipe.imageFileName) }}">
    {% else %}
        <img class="recipe-image" src="{{ asset('images/pot.png') }}">
    {% endif %}
    <div class="recipe-ingredients">
        <h1>{{ recipe.title }}</h1>
        <h3>{% trans %}ingredients{% endtrans %}</h3>
        <ul>
        {% for ingredient in recipe.recipyIngradients %}
            <li>{{ ingredient.ingradient.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <p class="recipe-description">{{ recipe.description }}</p>

    <ul class="comment-list">
    {% for comment in comments %}
        <li>
            {{ comment.content }}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}">x</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% if is_granted('ROLE_USER') %}
        <div class="comment-form">
            {{ form(form) }}
        </div>
    {% endif %}
{% endblock %}